[submodule "thirdparty/QZeroPackage"]
    path = thirdparty/QZeroPackage
    url = https://github.com/Zerozany/QZeroPackage.git

[submodule "thirdparty/QZeroSystem"]
    path = thirdparty/QZeroSystem
    url = https://github.com/Zerozany/QZeroSystem.git

[submodule "thirdparty/QZeroAssistKit"]
    path = thirdparty/QZeroAssistKit
    url = https://github.com/Zerozany/QZeroAssistKit.git

[submodule "thirdparty/QZeroMaterialUI"]
    path = thirdparty/QZeroMaterialUI
    url = https://github.com/Zerozany/QZeroMaterialUI.git
